*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
bin/*
Config
src/externalsat/satsolutionlexer.ml
src/externalsat/satsolutionparser.ml
src/externalsat/satsolutionparser.mli
_build
SatConfig
temp
